

{% extends "app/base.html" %} {% load static %}
{% block body %}
<div class="row" style="margin-top: 40px;">
    <div class="col-4">
        


        
        <form  method="POST"  style="padding:20px">{% csrf_token %}

            <div class="input-group mb-3 x">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">{{form.month.label}} </label>
              </div>
              {{form.month}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">{{form.year.label}}</span>
                {{form.year}}
            </div>
            
        
            <input type="submit" class="btn btn-primary" value="Get">
            
        </form>
        
    </div>
    <div class="col-8">

            <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
  
                <span class="badge bg-primary">{{date|date:"M Y"}}</span>
            </div>
          <div class="row">
              
              <div id="container1" style="width: 50%; margin-top: 40px;">
                  <canvas id="pie-chart1"></canvas>
                  <h5 class="text-danger text-center" style="padding-top: 10px;">Expense</h5>
              </div>
              <div id="container2" style="width: 50%; float: right; margin-top: 40px;">
                  <canvas id="pie-chart2"></canvas>
                  <h5 class="text-success text-center" style="padding-top: 10px;">Income</h5>
              </div>
              <div style="margin-left: 40px; font-size: 20px; margin-top: 40px;">
  
                <span class="badge bg-primary">{{date|date:"Y"}}</span>
                </div>
              <div  style="height: 370px; width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="linechart" ></canvas>
              </div>
              <div id="container" style="width: 75%; margin-top: 40px; margin-left: 40px;">
                <canvas id="canvas"></canvas>
              </div>
          
          </div>
          
          
        
        

    
    </div>
</div>








<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var config1 = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data1|safe }},
          backgroundColor: [
          '#808080','#00ff00', '#A9A9A9','#601230','#696969','#ff0000',  '#C0C0C0', '#D3D3D3','#ff00ff','#000080','#008000','#ffff00'
            
          ],
          label: 'Expense'
        }],
        labels: {{ labels1|safe }}
      },
      options: {
        responsive: true
      }
    };

    var config2 = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data2|safe }},
          backgroundColor: [
          '#2012300', '#ff0000', '#00ff00', '#C0C0C0', '#00ffff','#ff00ff'
          ],
          label: 'Income'
        }],
        labels: {{ labels2|safe }}
      },
      options: {
        responsive: true
      }
    };


    var barChartData = {
  labels:{{months|safe}}, 
  datasets: [
    {
      label: "Expense",
      backgroundColor: "pink",
      borderColor: "red",
      borderWidth: 1,
      data: {{ bar1|safe }}
    },
    
    {
      label: "Income",
      backgroundColor: "lightgreen",
      borderColor: "green",
      borderWidth: 1,
      data: {{bar2|safe}}
    }
    
  ]
};

var chartOptions = {
  responsive: true,
  legend: {
    position: "top"
  },
  title: {
    display: true,
    text: "Income Expense per Month {{ date|date:'Y'}}"
  },
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
}


    window.onload = function() {
      

      var ctx1 = document.getElementById('pie-chart1').getContext('2d');
      window.myPie = new Chart(ctx1, config1);

      var ctx2 = document.getElementById('pie-chart2').getContext('2d');
      window.myPie = new Chart(ctx2, config2);

      var ctx = document.getElementById("canvas").getContext("2d");
      window.myBar = new Chart(ctx, {
        type: "bar",
        data: barChartData,
        options: chartOptions
      });
      var ctx3 = document.getElementById('linechart').getContext('2d');
      var myLineChart = new Chart(ctx3, {
        type: 'line',
        data: {
          labels: {{months|safe}},
          datasets: [
            {
            label: `Balance {{ date|date:"Y"}}`, // Name the series
            data: {{linedata|safe}}, // Specify the data values array
            fill: false,
            borderColor: '#2196f3', // Add custom color border (Line)
            backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Expense {{ date|date:"Y"}}`, // Name the series
            data: {{bar1|safe}}, // Specify the data values array
            fill: false,
            borderColor: 'red', // Add custom color border (Line)
            backgroundColor: 'red', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },
            {
            label: `Income {{ date|date:"Y"}}`, // Name the series
            data: {{bar2|safe}}, // Specify the data values array
            fill: false,
            borderColor: 'green', // Add custom color border (Line)
            backgroundColor: 'green', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
            },

        
          ]},
          options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
          }
        });


    };

</script>

{% endblock %}



